[2016-09-06 16:09] RomainLanz opened #4 "[MailGun] GotError: options.body must be a ReadableStream, string or Buffer"
**adonis-mail version**: `git#develop`
**Driver used**: `mailgun`
**Node.js version**: v6.4.0
**npm version**: v3.10.3

Hey !

I got an error from `got` when I try to send a email with the `mailgun` driver.

<details><summary>Exception</summary>
[code]
</details>

The error seems to be thrown when we are calling `got.post(...)` on the MailGun API. It's [at the line 75 of the MailGun driver](https:

[2016-09-06 17:18] indr commented on #4
I'm using `adonis-mail-provider` version `2.0.0` and had the same problem. The package references `got` only as a dev dependency. npm pulled version 3.x because this version is referenced by the package `package-json`.

`npm install --save got` installed 6.x and solved this problem for me.

[2016-09-07 06:00] thetutlage commented on #4
@RomainLanz Would you try to install `got` as a your project dependency and let me know if it works. I will add it as a dependency then.

[2016-09-07 07:31] RomainLanz commented on #4
I confirm that installing `got` directly in my project does the trick!

[2016-09-07 07:31] #4 closed

[2016-09-07 07:35] thetutlage commented on #4
Cool, I will fix it by including it as a dependency.

[2016-10-02 00:44] imperez opened #5 "Error: Cannot find module './Drivers'"
This is a strange one. So if I run `npm install adonis-mail-provider@latest` and then `cd node_modules/adonis-mail-provider/src/Mail` I see the directory `drivers` instead of `Drivers`. All the other directories look fine except that one.

I know the repo shows everything correct. I tried clear the npm cache and clearing the node_modules directory. Any tips on what else I could try to fix this?

[2016-10-11 00:25] seanc commented on #5
Having the same issue as well

[2016-10-11 07:03] RomainLanz commented on #5
Dear everyone,

Which operating system are you using?

[2016-10-11 08:35] seanc commented on #5
Linux Mint 18 "Sarah" x86_64

[2016-10-11 09:41] thetutlage commented on #5
Doesn't seems to be an OS issue, seems like npm has the drivers directory with lowercase.

Can u share with the `adonis-mail` version

[2016-10-11 10:33] #5 closed

[2016-10-11 10:41] thetutlage commented on #5
Release the fix as `2.0.2` please update.

[2017-08-26 13:49] ntvsx193 opened #10 "Not work method .send()"
From gitter chat:

In doc https://github.com/adonisjs/adonis-mail/blob/develop/instructions.md example use `Mail.send`, but it's not worked.
I use this for bypass problem:

[code]

[2017-08-26 15:30] thetutlage commented on #10
Can u verify this on the latest version? It should work

[2017-08-26 15:31] ntvsx193 commented on #10
Yep, wait

[2017-08-26 15:35] ntvsx193 commented on #10
Well done, it's worked with last changes!

[2017-08-26 15:35] #10 closed

[2017-09-03 17:53] keeross opened #11 "SES driver issue"
Added `ses` config option to `mail.js` configuration file, but got an error.
The file:
[code]
Error:
`E_MISSING_CONFIG: ses.driver is not defined inside config/mail.js file`
Versions:
`"@adonisjs/framework": "^4.0.15"`
`"@adonisjs/mail": "^3.0.1"`

[2017-09-04 05:51] thetutlage commented on #11
You need to set the driver property as done here https://github.com/adonisjs/adonis-mail/blob/develop/examples/config.js#L26

[2017-09-04 10:00] #11 closed

[2017-09-24 18:38] alanaasmaa opened #13 "Url on Docs is not working."
Config url @ http://adonisjs.com/docs/3.2/mail#_config is wrong.

It is => https://raw.githubusercontent.com/adonisjs/adonis-mail/master/examples/mail.js
Should be => https://raw.githubusercontent.com/adonisjs/adonis-mail/master/examples/config.js

[2017-09-25 05:34] thetutlage commented on #13
Mind creating a PR?

[2017-10-01 16:20] alanaasmaa commented on #13
I created PR to the docs repo.

[2017-10-01 16:20] #13 closed

[2017-10-24 00:56] dusbuss opened #14 "MAIL_CONNECTION doesn't fetch driver"
Thanks for all of the amazing work on Adonis. Love it!

I was trying to get `adonis-mail` installed, and I ran into some issues in finding a driver. I am wondering if maybe there is something wrong with how `MAIL_CONNECTION` fetches the driver from the config.

My .env
[code]

My mail.config
[code]

As far as I can tell from the docs and the source code, setting the connection should tell adonis-m

[2017-10-24 17:16] thetutlage commented on #14
Just tried it and all works great for me. Can u share for which version you are facing this issue, means `@adonisjs/mail` version in your package.json file.

[2017-10-24 21:52] dusbuss commented on #14
I'm using version `"adonis-mail-provider": "^2.0.2"` with `"adonis-framework": "^3.0.10"`.

If I use the first config file and env file that I listed above, and then try to send mail with `Mail.raw`, I get an error saying that there is no valid mail driver.

However, if I add the `driver: "ses"` value to the top-level of my mail.config file, then it works.

[2017-10-25 03:46] thetutlage commented on #14
Ohh yeah, you are using 3.x with new configuration file

If it’s a new project I suggest using dev release of version 4.0 http://dev.adonisjs.com

[2017-10-26 00:15] dusbuss commented on #14
A-ha! I'll make the switch! Thanks!

[2017-10-26 00:15] #14 closed

[2017-11-02 21:43] parkerproject commented on #14
@dusbuss  I'm confused, I can't see mail.config, Are you referring to config/mail?

[2017-11-02 21:53] dusbuss commented on #14
Yes. Sorry - config/mail.

Though, I think that the issue was that I was using this package with Adonis 3 and not Adonis 4. It works correctly on Adonis 4.

[2017-11-02 22:03] parkerproject commented on #14
It's strange am getting this error "E_INVALID_MAIL_DRIVER: Unable to locate null mail driver" ,my config is the same as [https://github.com/adonisjs/adonis-mail/blob/develop/examples/config.js](https://github.com/adonisjs/adonis-mail/blob/develop/examples/config.js)

[2017-11-02 22:08] parkerproject commented on #14
Hmm reading this now, it looks like I need the old config because I'm on Adonis 3. Any pointers where I can get that config because the link on the docs it doesn't seem to be  working

[2017-11-03 06:45] thetutlage commented on #14
https://github.com/adonisjs/adonis-mail/blob/7053c2ace6e270112f520eceb89b1e6315eb71c7/examples/mail.js

[2017-11-03 15:24] parkerproject commented on #14
Thanks

[2017-11-08 21:15] watzon opened #15 "[Feature] Add ability to use markdown templates"
Laravel gives us the ability to have blade templates that take blade/markdown and turn it into an HTML email template. This saves some major headache when it comes to making emails beautiful and responsive. It would be awesome if Adonis had the same functionality.

## Proposal

Add a markdown method to the Mailer and some built in components that get added to edge templates. Developers should idea

[2017-11-08 21:33] RomainLanz commented on #15
Hey @watzon! 👋

I don't think adding a built-in Markdown support is a great idea. This would mean we choose to use Markdown over other *simple* text engine (like Asciidoc - that we heavy use in our documentation).

Why not make the `MailSender` class `Macroable` so you could add methods to it and handle this with a community package? This will avoid Adonis to take a *strong* decision and let the d

[2017-11-08 21:36] watzon commented on #15
@RomainLanz I think making the `MailSender` class `Macroable` would be a fine idea. If a community package could handle this then that would work as well.

[2017-11-08 21:40] RomainLanz commented on #15
Also, using community package instead of having built-in components will let the community create many packages with many designs (Material, Bootstrap, Foundation, Semantic-UI, etc.).

Same goes for `MailSender` that will be able to handle other templating like [MJML](https://mjml.io/) or [Foundation Email](https://foundation.zurb.com/emails/email-templates.html).

[2017-11-08 21:42] watzon commented on #15
I like that idea

[2017-11-08 22:13] RomainLanz commented on #15
Cool, let's wait to see the opinion of @thetutlage on this.

[2017-11-10 06:24] thetutlage commented on #15
So Adonis mail doesn't have any idea on how the view engine works, it just uses Edge. My plan is to let users add preprocessors to Edge, so it will be like this

## Raw edge
[code]

## In Adonis
const View = use('View')
View.use('mail/*.edge', function (content) {
  // return parsed content
})
[code]

[2017-11-10 06:26] thetutlage commented on #15
This issue was moved to poppinss/edge#13

[2017-11-10 06:26] #15 closed

[2017-11-20 22:24] RaymondLC92 opened #16 "SMTP OAuth2"
Nodemailer supports OAuth2 over SMTP see here: https://nodemailer.com/smtp/oauth2/

Does Adonis-mail have a driver that supports this?

[2017-11-28 12:57] pirmax opened #17 "How use AdonisJS Mail with Mailgun driver?"
Hi,

How use AdonisJS Mail with Mailgun driver?

My code:

[code]

The mail doesn't sended...

[2017-11-29 04:56] thetutlage commented on #17
Impossible for me to tell why

You didn’t shared any code on how you send the email

What’s the output of `mail.send` method?
Are there any exceptions?

[2017-11-29 09:33] pirmax commented on #17
I have no console.log() when I execute this function...

[code]

[2017-11-29 14:00] thetutlage commented on #17
Are there any exceptions being thrown or the program just hangs?

[2017-12-03 14:20] SAGV opened #19 "SendGrid driver"
I'm very impressed with the framework and would like to thank @thetutlage and the others for the great job!

However, there is still a small detail missing — SendGrid driver for the mail so I think it deserves a separate issue.

P. S. See PR with the deprecated implementation https://github.com/adonisjs/adonis-mail/pull/1

[2017-12-06 21:42] keeross opened #20 "Please pump the version"
Can you please pump the version, so the mailgun fix will appear in npm?

[2017-12-11 18:12] RezaHaidari commented on #17
@thetutlage

[2017-12-11 18:17] RezaHaidari commented on #17
@thetutlage

[code]

error :

[2017-12-13 05:18] #17 closed

[2018-01-06 10:30] thetutlage commented on #19
Hi SendGrid doesn't offer any API which accepts the MIME formatted emails, that's why implementing a driver will be converting the underlying packet of Adonis mail to Sendgrid API fields.

This is 100% achievable, but more work for me to make sure.

1. All fields from the mail MIME are converted 100% as per the sendgrid specifications.
2. When they change the API, I have to make modifications too.

[2018-01-06 10:35] thetutlage commented on #16
Sorry for getting late on this

How about using [Adonis Ally](http://adonisjs.com/docs/4.0/social-auth#_ally_api) to get a token with Oauth2 flow and storing the token.

Later when you will send the email, simply update the in-memory config to use the current token and send the email.

Can help you further, once you have got some code ready.

[2018-01-07 04:31] SAGV commented on #19
Indeed, no problem then.

Just in case if someone else needs it, here is a fork of deprecated implementation (#1 ):
https://github.com/SAGV/adonis-mail/tree/feature/sendgrid-support-v4
which is adjusted for the latest adonis-mail version.

However, I didn't write tests so use on your own risk. Maybe one day I'll make a proper plugin out of it ;-)

[2018-01-07 07:22] thetutlage commented on #19
👍

[2018-01-08 06:16] RaymondLC92 commented on #16
Thanks, we're using simple SMTP auth as it is, but if I get the opportunity I'd like to try this.

[2018-01-08 06:56] #16 closed

[2018-01-08 07:39] #19 closed

[2018-01-22 02:02] franciscosucre opened #21 "Use the Mail API with HTML without edge views"
I have an application where the user writes the mail content in a HTML editor, currenty in Adonis i cannot find a way to send an email with an HTML String so i have to use the aws-sdk directly. I would like yo have a way to use the Mail API

[2018-01-22 02:30] franciscosucre commented on #21
Well, i got it working like this:

for (let i = 0; i < 2; i++) {
      const email = emailList[i];
      await Mail.send('emails.reset', {
        email: email
      }, (message) => {
        console.log("email: ", email)
        message.to("frank91frank@gmail.com")
        message.from(Config.get('mail.ses.sender'))
        message.subject('Reset your password')
        message.html('<b>Hola</b>'

[2018-01-22 03:15] thetutlage commented on #21
Which part is not in the docs?

[2018-01-22 23:18] franciscosucre commented on #21
hello @thetutlage the html method is not on the documentation which led me to think i could not send a custom HTML mail. Also, should i use the raw function for my case? Thanks.

[2018-01-23 01:41] dehypnosis commented on #17
changed
`MAILGUN_DOMAIN=https://api.mailgun.net/v3/my.domain`
to
`MAILGUN_DOMAIN=my.domain`

and works.

[2018-01-23 04:03] thetutlage commented on #21
Okay, I will document it. I don't think the `raw` function will work, since it will set `plainText` of the email. But I can make it smart to find if HTML is passed to this function, then it will set email HTML body, otherwise will set the plainText body.

[2018-01-23 16:58] keeross commented on #20
NPM still loads @adonisjs/mail with Mailgun driver mistakes, without [PR](https://github.com/adonisjs/adonis-mail/pull/18) that fixed it.
The only way to bypass version error, is to get package from github, that is not very convenient.
So the version should be pumped..

[2018-01-24 07:20] thetutlage commented on #20
Done as `3.0.4`

[2018-01-24 07:20] #20 closed

[2018-01-25 06:13] #21 closed

[2018-03-19 01:11] moltar opened #22 "Feature: Ethereal transporter"
Would be nice to get support for [Ethereal](https://ethereal.email/) transporter.

The key things are:

[code]

Then later when email gets sent:

[code]

Of course, optionally, instead of creating a new account, can let user set an account in config as well. But Ethereal has this feature so you can create accounts on the fly.

But maybe could be a helper that creates an account and updates the con

[2018-03-19 01:12] moltar commented on #22
I could work on PR for this, just need some guidance.

Specifically, is it possible to get access to log inside a transporter so I could log the message URL?

[2018-03-19 05:58] thetutlage commented on #22
Why not use SMTP driver directly and use Ethereal credentials?

[2018-03-19 12:53] moltar commented on #22
That is a possibility, but I think the reason a built in transporter would be more helpful is:

1. It would output a direct link to the email that was sent to log. Eases development. Just click the link and it opens the email.
2. Do not need to pre-configure any settings. A mailbox can be created on the fly.

[2018-03-22 05:39] thetutlage commented on #22
Yes, it will be nice to have it. You can contribute with a PR by adding the transport. Otherwise I will do it in some free time

[2018-04-07 15:59] thetutlage commented on #22
Hello @moltar

I was planning to start working on it and thought to get your ideas around it too. This is what I am planning for.

1. If pre-existing account details exists inside the config file, use them, otherwise create a new account behind the scenes. ( For development it will be nice to have one pre-configured account )
2. `Mail.send` method will return the email URL, so you can log it anywh

[2018-04-09 13:55] vrwebdesign opened #23 "how can set email from with config"
I use Zoho smtp and must set  `from`  in email how can set `from` in the config
this is my mail config
[code]

and this my controller:
[code]

I want to set messege.from() just one time in config is it possible?

[2018-04-09 18:54] moltar commented on #22
1. That is very reasonable. And this is what I do.
2. I think it should log the URL by default and this could be controlled in the config. E.g. have a boolean toggle for this feature, or set a log desired log level OR false. Otherwise the code would not work universally in development and production if you need to resolve the promise and then log the URL yourself at every mail call.

[2018-04-10 05:02] thetutlage commented on #22
Yup, makes sense

[2018-05-02 20:47] yasinatesim opened #24 "I can't send mail on the server"
Hello,

While working in the local, it doesn't work on the server.

`
Error: Invalid login: 534-5.7.14 <https://accounts.google.com/signin/continue?sarp=1&scc=1&plt=AKgnsbtk
534-5.7.14 6YQOu2fx37epuJLJai4mSzLHzfrw87hFpUhNlcO6SgDJbubtLDDLORz17ibOi44w4MqmWm
534-5.7.14 cHamy1B54_C2p_L9KL0uhcu7dowd7e3pTYVA6I9CzIHIxybI2tAVGhufoulYLNITWkgMm0
534-5.7.14 wyNiTiewf-Fvwgq1yG4sCjnB3JTPatPyGucXv3ifCbOUBHpEIJu

[2018-05-03 08:44] RomainLanz commented on #24
Hey @yasinatesim! 👋

Could you please give us more information?

1. What's your mail configuration
2. What are you trying to do and how

It seems to be an issue in your configuration. You may find more help in the forum or Discord Server for this kind of question.

[2018-05-04 18:51] RomainLanz commented on #23
Hey @vrwebdesign! 👋

I don't know if it's currently available.
Maybe @thetutlage will know better.

[2018-05-04 20:02] yasinatesim commented on #24
But this's also working on the local server.
Would you like to send a mail at the bottom?
[https://yasinates.com/#contact-link](url)

[2018-05-05 03:53] thetutlage commented on #23
Isn’t it as simple as defining a value in config and use it using the config provider?

[2018-05-05 07:15] RomainLanz commented on #23
I believe he want to set it up only once (in the config) and then it's used by default every time you send an email.

[2018-05-05 11:57] yasinatesim commented on #24
Yes, I updated .env file in production.
.env file content at the bottom;

`
HOST=127.0.0.1
PORT=3000
NODE_ENV=production
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=myApiKey
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=MyUsername
DB_PASSWORD=MyPassword
DB_DATABASE=myDatabaseName
SESSION_DRIVER=cookie
MAIL_CONNECTION=smtp
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=myMailAdres

[2018-05-05 12:16] thetutlage commented on #24
What happens if you remove `node_modules` and `package-lock.json` file on your local and re install all dependencies

[2018-05-05 12:37] yasinatesim commented on #24
I tried Local, it works. I tried it on Server but it does not work

[2018-05-06 08:06] #23 closed

[2018-05-08 02:25] paulopmx opened #25 "Postmark Driver"
Any chance you guys will add a Postmark Driver?

[2018-05-08 04:07] thetutlage commented on #25
@paulopmx Nope, no plans for now.

[2018-05-08 04:08] paulopmx commented on #25
Is their an easy guide to follow for me to add my own driver for Postmark?

[2018-05-08 04:10] thetutlage commented on #25
Code is the best guide here. You need to follow Postmark docs too https://github.com/adonisjs/adonis-mail/blob/develop/src/Mail/Drivers/Mailgun.js

[2018-06-18 12:29] thetutlage commented on #25
You can add it inside `start/hooks.js` file

[2018-06-18 12:29] #25 closed

[2018-06-21 12:00] GlauberF opened #27 "configuration amazon ses"
in my application I need to use email sending, it was decided to use amazon ses, but in the default settings in mail.js, inside the config folder, there is no example of how to configure amazon ses, someone could send me the configuration code snippet for amazon ses

[2018-06-21 13:40] thetutlage commented on #27
Config is passed directly to https://www.npmjs.com/package/aws-sdk. Here is an example of SES config https://github.com/adonisjs/adonis-mail/blob/develop/test/ses.spec.js#L18

[2018-06-25 06:19] thetutlage commented on #27
Closing since no response from the issue reporter and not actionable as well

[2018-06-25 06:19] #27 closed

[2018-07-02 11:20] alikkane opened #28 "Cannot read property 'body' of undefined"
TypeError: Cannot read property 'body' of undefined
    at Request.post (/Users/mac/NickelIT/Projects/Adonis/project-aviscan/node_modules/@adonisjs/mail/src/Request/index.js:98:31)

[2018-07-02 21:24] RomainLanz commented on #28
Hey @alikkane! 👋

We cannot do much with this kind of issue, please share with us some code.

[2018-07-16 07:52] thetutlage commented on #28
Closing since no response from the issue reporter and not actionable as well

[2018-07-16 07:52] #28 closed

[2018-07-16 09:23] #22 closed

[2018-08-31 08:27] donPuerto commented on #24
was was the solution? im getting error also. Pls share

[2019-01-14 11:36] up73k opened #29 "Removed Mandrill driver"
Why did you remove Mandrill driver? (It was in 2.0.2 version)

## Package version
3.0.9

[2019-02-14 05:57] jsdecena commented on #28
I know this is already closed but I am getting this error as well. Here's the test case:

[code]

My `sendEmail()` method

[code]

This is the error:

[code]

[2019-03-25 14:13] HapLifeMan opened #32 "Edge dot folder notation is breaking plain/text support(?)"
Hi @thetutlage,

I found a problem while using Edge and plain/text mail.

I have this structure:
[code]

This structure is not possible because when sending the mail I use it like this (as described in the documentation, with the `.text` prefix):
[code]
The dot-notation folder use the `.text` as a new nested level.
I did it works with `welcome-text.edge` but this is not really beautiful...

I don'

[2019-05-11 00:55] mritgupta commented on #11
[code]

[2019-05-13 15:51] simonedelmann opened #34 "Mail connection stays open => ace commands don't stop"
I send mails from an ace command via SMTP. The ace command doesn't close (which is bad because it's intended to run via cron) because this package opens a SMTP connection but never closes it.
We need either a Mail.close() command (similar to [this](https://adonisjs.com/docs/4.1/ace#_database_connection_management)) or the connection should be closed by default. I could fix the issue by adding `thi

[2019-05-13 16:03] simonedelmann commented on #34
I did manage to close the connection in my command like this:

`Mail.connection()._driverInstance.transporter.close()`

Maybe you can add a shorthand for this? :)

[2019-05-27 08:17] RomainLanz commented on #34
Hey @simonedelmann! 👋

Feel free to create a PR that add `Mail.close()`. 👍

[2019-08-02 13:21] zefman opened #35 "Mailgun regions un-released"
Hi,

It seems you have merged a feature into develop to support Mailgun regions but this has not been released to NPM.

Could you please release this on NPM thanks.

[2019-09-18 22:24] danielsalles opened #37 "E_MISSING_CONFIG: ses is not defined"
I found it difficult to understand how to use SES with this package. I don't know if I'm doing it correctly, because the documentation was not very specific with this driver.

## Package version
`"@adonisjs/mail": "^3.0.9",`

## Node.js and npm version
Node 12

## Sample Code (to reproduce the issue)
.env
`MAIL_CONNECTION=ses`
[code]

[2019-09-19 14:26] yasser17 commented on #27
@thetutlage Can you upload ses configuration again? The link not works

[2019-09-19 18:04] yasser17 commented on #37
I've a similar problem. I added this code to config/mail.js. But not works for me
`
       ses: {
		driver: 'ses',
		accessKeyId: Env.get('SES_KEY'),
		secretAccessKey: Env.get('SES_ACCESS_KEY'),
		region: Env.get('SES_REGION'),
	},
`

E_UNDEFINED_METHOD: Method sendEmail missing on Controller

[2019-10-02 19:52] DiruzCode commented on #27
you can find the configuration here
https://github.com/adonisjs/adonis-mail/blob/3.0.10/test/ses.spec.js

[2019-10-03 05:38] thetutlage commented on #37
I believe the error is not related to the mailer. It says `E_UNDEFINED_METHOD: Method sendEmail missing on Controller`, So controller method is missing

[2019-10-03 05:39] thetutlage commented on #37
@danielsalles You need to define the config inside the `config/mail.js` file under the `ses` property.

[code]

Config options are same as documented by the AWS https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SES.html#constructor-property

[2019-10-11 14:11] danielsalles commented on #37
Problem solved. I just think the mail documentation was not very clear. You are changing the doc, is there any branch that I can open a PR? @thetutlage

[2019-10-15 05:14] leosalass opened #38 "Cannot read property 'body' of undefined"
## Package version
addonis 4.1.0

## Node.js and npm version
node v10.16.3
npm 6.9.0

#Mailgun
MAILGUN_DOMAIN="sandboxaXXXXXXXFAKEXXXXXXXXXXX.mailgun.org"
MAILGUN_API_REGION="US"
MAILGUN_API_KEY="XXXXXXXXXXXXXXXXFAKEXXXXXXXXXXXXXXX"

## Sample Code (to reproduce the issue)
`await Mail.raw('<h1> HTML email </h1>', (message) => {
      message.from('foo@bar.com')
      message.to('baz@bar.com')

[2019-10-16 18:45] Kordonme commented on #38
I have the same issue. I followed the docs. A template in `resources/views/emails/forgot-password.edge`
and using `await Mail.send('emails.forgot-password')`

[2019-10-17 08:59] Kordonme commented on #38
@leosalass

Just wanted to let you know I figured out the root cause to this exception. In my case the config was wrong. My `MAILGUN_API_REGION` was not  `EU` but instead the EU endpoint `api.eu.mailgun.net`. So basically this boils down to misconfiguration. Check your `.env` for Mailgun related configs.

[2019-10-17 13:54] leosalass commented on #38
thanks im goin to test it today. in my config i have US

El jue., 17 de oct. de 2019, 3:59 a. m., Mark Jan Kordon <
notifications@github.com> escribió:

[2019-10-18 00:29] leosalass commented on #38
I did set MAILGUN_API_REGION="api.mailgun.net" but im getting the same error

[2019-10-18 01:13] leosalass commented on #38
if it helps this plugin send email with mail gun, but then i dont know how to use adonis views with it, and there is no sense to use it if adonis can user mailgun itself.

https://www.npmjs.com/package/mailgun-js

[2019-10-25 12:11] anaalicefig opened #39 "callback is not a function"
I'm using mailgun driver

![image](https://user-images.githubusercontent.com/29892114/67570308-6605d200-f707-11e9-8636-1836928f6f79.png)

![image](https://user-images.githubusercontent.com/29892114/67570066-e5df6c80-f706-11e9-859b-e9dcb736c77e.png)

[2019-10-27 22:19] dijsilva commented on #38
I did set in the .env file:
`MAIL_GUN_REGION=`
I didn't set the value. It worked for me.

[2019-11-07 10:27] thetutlage commented on #32
Yup, a clear bug with the mailer. I will address the issue in the newer release

[2019-11-07 11:06] thetutlage commented on #29
Removed, since Mandrill wasn't free anymore and my personal finances doesn't allowed me to pay for many paid services.

Although it will be added back in Next release

[2019-11-07 11:55] thetutlage commented on #39
Woha, seems weird.

Not sure, if you are still stuck on this issue. If yes, then can you please share a repo to help reproduce the issue?

[2019-11-08 07:24] CrBast commented on #39
Question on forum.adonisjs.com : https://forum.adonisjs.com/t/callback-is-not-a-function/4855

[2019-11-08 14:40] RomainLanz commented on #39
The issue has been resolved on the forum, closing.

[2019-11-08 14:40] #39 closed

[2019-12-17 19:15] bermartinez opened #41 "Cannot read property 'before' of undefined"
Hi, I'm just trying to add new users to a mysql DB, which I thought it would be easy :), but I'm getting the error "Cannot read property 'before' of undefined". I have tried a lot of changes with no effect and i don't know what I'm doing wrong.
Please, could you help me?
Thanks in advance.

## Package version
"adonis-version": "4.1.0"

## Node.js and npm version
node: '13.3.0'
npm: '6.13.4',
Datab

[2019-12-18 07:45] thetutlage commented on #41
You opened the issue in the wrong repo and also it's badly formatted. Please take out some time to properly construct the question and open it in the right repo 😄

[2019-12-18 07:45] #41 closed

[2020-01-05 04:43] bravemaster619 commented on #24
1. Check your gmail account name and password.
2. Log in to your google account in your browser.
3. Try again.
4. If it does not work, check your gmail inbox to find a security alarm message from google.
5. Enable unsecured application. The google mail will show you how to do that.
6. Try again. It should work.
7. If not work, make sure you logged in to your google account and keep your browser op

[2020-01-23 23:48] vitorcremonez opened #42 "How to get the mail sending result"
I need to know if an email has sent or has bounce.
But in my tests the adonis mail response is always the same, for a valid or invalid email.

[2020-02-10 12:54] MrToxy commented on #38
any news on this? getting the same error

[2020-03-18 15:35] diegobonagurio commented on #37
after including this in the config / mail.js file, what's the next step to be able to send a test email?

[2020-03-20 19:02] iankressin commented on #37
I'm having a hard time trying to send emails using SES too.
Already installed `aws-sdk` on the project and have the following connection configured in my `config/mail.js`
[code]
Whenever I try to send any email using :
[code]
I get the error:

What am I missing?

[2020-03-20 19:03] iankressin commented on #37
I'm having a hard time trying to send emails using SES too.
Already installed `aws-sdk` on the project and have the following connection configured in my `config/mail.js`
[code]
Whenever I try to send any email using :
[code]
I get the error:

What am I missing?

[2020-03-28 11:36] #34 closed

[2020-04-15 17:13] sangemi commented on #27
ses: {
		driver: 'ses',
		accessKeyId: Env.get('SES_KEY'),
		secretAccessKey: Env.get('SES_ACCESS_KEY'),
		region: Env.get('SES_REGION'),
    },

[2020-04-18 12:20] LeCoupa commented on #17
Here is a quick tutorial to set up Adonis with Mailgun.

https://madsobel.com/blog/setting-up-mailgun-with-adonis.js/

[2020-05-06 10:10] stavrogin opened #46 "Set email header in adonis 4"
Hi,

I cannot add an email header in config, neither in code.
In Adonis 3.2 it was possible by calling message.header(key, value)
Has this feature been removed or is it possible to do it in another way?

Thanks

[2020-05-27 07:46] bitkidd opened #48 "Not template folder included, problem with provider"
Tried to install `@adonisjs/mail@alpha` package and got several issues.
The first one is that no template folder in build directory, so `node ace invoke` cannot proceed.
The second is somehow related to provider itself:
[code]

## Package version
4.0.0 or alpha

## Node.js and npm version
12.16.3
6.14.4

## Sample Code (to reproduce the issue)
None

## BONUS (a sample repo to reproduce the issue)

[2020-05-28 08:05] RomainLanz commented on #48
Hey @bitkidd! 👋

This module isn't ready for Adonis 5 yet.
You can join our [Discord Server](https://discord.gg/vDcEjq6) or [follow us on Twitter](https://twitter.com/adonisframework/) to know when it will be!

Closing in the meanwhile.

[2020-06-18 06:32] msrumon commented on #48
Could this be the reason?
https://github.com/adonisjs/mail/blob/d1b8e49d39a95aa8aee187a2120a01dbc22820d5/providers/MailProvider.ts#L13
This should be
[code]

[2020-06-18 08:47] thetutlage commented on #48
I suggest looking at the other AdonisJS packages especially sessions to see how we are doing it there. Otherwise I will look into in sometime (not 100% sure of the timeline, but getting this package ready for usage is one of my top priorities)

[2020-06-20 06:11] #48 closed

[2020-06-22 07:00] msrumon commented on #48
Ran these two commands: `npm i @adonisjs/mail@alpha` and then `node ace invoke @adonisjs/mail`. Now everything went okay, but I get these compilation errors:
[code]
Although I am seeing everything is okay...
https://github.com/adonisjs/mail/blob/6ff20e7a8fefac6bfb31b00852f9548efc77c717/adonis-typings/mail.ts#L148-L157
https://github.com/adonisjs/mail/blob/6ff20e7a8fefac6bfb31b00852f9548efc77c717/a

[2020-06-27 09:35] RomainLanz commented on #48
This package isn't ready for V5, we never communicated on it for a reason.
Closing and locking this.

[2020-07-01 09:16] mcordoba opened #49 "Mail depends on View and it should not"
What if you want to use Mail provider without edge dependency?

I am going to create my own html so I don't know why it still requires edge.

[2020-07-01 10:35] thetutlage commented on #49
How will you create mail templates then?

[2020-07-09 12:04] thetutlage commented on #49
Closing since no response from the issue reporter and not actionable as well

[2020-07-09 12:04] #49 closed

[2020-07-09 12:04] thetutlage commented on #46
Added back in v5

[2020-07-09 12:04] #46 closed

[2020-07-09 12:06] thetutlage commented on #42
Bounce emails are on the mail delivery service can tell

[2020-07-09 12:06] #42 closed

[2020-07-09 15:30] prakashbharti786 opened #50 "No Mail support in adonis v5."
## Lack of documentation
There is no clear documentation for how to set up Mail in Adonis js V5.
Blow the command is not doing anything but updating ace-manifest.json only
[code]

No config file is there for mail as well.

[2020-07-09 15:34] RomainLanz commented on #50
Hey @prakashbharti786! 👋

This provider wasn't ready for AdonisJS V5.
[From `4.1.0`](https://github.com/adonisjs/mail/releases/tag/v4.1.0), you can use it with V5, documentation comes next week.

[2020-07-09 15:34] #50 closed

[2020-07-15 14:08] zulfi007 opened #52 "ses driver issue in @adonisjs/mail:4.1.1"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

## Package version

## Node.js and npm version
Node.js version : v14.5.0
Yarn version: 1.22.4

## Sample Code (to reproduce the issue)

**_config_**
   ses: {
      driver: 'ses',
      apiVersion: '2010-12-01',
      key: Env.get('SES_ACCESS_KEY') as

[2020-07-15 14:53] thetutlage commented on #52
Closing, since badly formatted and provides no information.

[2020-07-15 14:53] #52 closed

[2020-07-15 20:38] zulfi007 commented on #52
Formatted. Please reopen

[2020-07-16 12:19] #32 closed

[2020-07-16 12:19] #29 closed

[2020-07-16 12:20] #35 closed

[2020-07-16 12:20] #37 closed

[2020-07-16 12:20] #38 closed

[2020-08-07 14:11] 4konung opened #54 "Adonisjs v5 EmailTransportException: connect ECONNREFUSED 127.0.0.1:443"
## Package version
Adonisjs v5
- "@adonisjs/ace": "^6.9.3"
- "@adonisjs/auth": "^4.3.0"
- "@adonisjs/core": "^5.0.0-preview-rc-1.11"
- "@adonisjs/fold": "^6.4.0"
- "@adonisjs/lucid": "^8.3.1"
- "@adonisjs/mail": "^4.2.2"
- "@adonisjs/view": "^2.0.7"

## Node.js and npm version
- node v12.18.1
- npm v6.14.5

## Sample Code (to reproduce the issue)
Basically I've just copied from [docs](https://prev

[2020-08-08 04:47] thetutlage commented on #54
Do you have connection config setup properly?

[2020-08-10 04:47] thetutlage commented on #54
Closing since no response from the issue reporter and not actionable as well

[2020-08-10 04:47] #54 closed

[2020-08-10 07:07] 4konung commented on #54
Setup done step by step with [this guide](https://preview.adonisjs.com/guides/mail). I've even hardcoded API_KEY and domain into config file. Another strange thing when I try to reproduce this bug with clean install of framework. On clean installation, connection refused on 587 port
[code]

[2020-08-10 08:15] 4konung commented on #54
Tested with different templates of adonis v5 framework - API server and WEB Application. This error occurs only on API template (of course with installed @adonisjs/view).

[2020-08-17 07:43] TranceGeniK opened #55 "Dynamic SMTP Server"
Is there a way to set the smtp server (and user/password) at runtime ?

[2020-08-17 10:53] thetutlage commented on #55
Which version of the mail package are you using?

[2020-08-17 11:20] TranceGeniK commented on #55
3.0.10

[2020-08-26 12:41] TranceGeniK commented on #55
Any idea ?

[2020-08-27 15:39] thetutlage commented on #55
Hey. Sorry for the late reply. I don't see any direct way to create runtime drivers instances with different config. One way is to register the config at runtime. For example: If you have multiple tenants, then you can use the `tenantId` to register the config like this.

[code]

And then use it as

[code]

[2020-08-27 15:42] TranceGeniK commented on #55
Thanks, will try !

[2020-08-27 15:42] #55 closed

[2021-01-22 17:01] mauricioLopezRamirez commented on #46
hi, how can you add header from version 4.1 of adonis without upgrading to version 5?

[2021-03-25 15:16] mpastorini opened #60 "Does this support Adonis 4.1?"
I'm not sure this is an issue, maybe this lib is only for the new Adonis.
I am willing to help develop a solution if necessary.

I followed these [instructions](https://adonisjs.com/docs/4.1/mail) and when I try to run my app or simply type `adonis` in the terminal it throws:

[code]
(For security reasons I replaced name and company name by `xxx`)

I noticed it looks different compared to other pl

[2021-03-26 16:11] thetutlage commented on #60
The latest version targets v5. Please install with legacy tag. We are also working to update the docs on same.

[code]

[2021-03-26 16:11] #60 closed

[2021-04-26 08:07] Alnsentry opened #61 "error when installing @adonisjs/mail"
Hi, i want send email with my adonis app, and then i install adonis mail in my app ( adonis install @adonisjs/mail ),
and then register provider in my start/app.js but when i try to run adonis serve, it throwing error Error: Cannot find module '@adonisjs/mail/providers/MailProvider'.

can some one help me? thank you

## Version
Adonis = 4.1.0
@adonisjs/mail = 7.1.0
npm = 6.11.3
node = 12.10.0

##

[2021-04-26 09:00] thetutlage commented on #61
Please check existing issues before creating a new one https://github.com/adonisjs/mail/issues/60#issuecomment-808339684

[2021-04-26 09:00] #61 closed

[2021-04-27 13:45] dimensi0n opened #62 "Mail is not sent from an Ace command"
## Package version
5.2.3

## Node.js and npm version
Node.js: v14.16.1
Npm: 6.14.12

## Sample Code (to reproduce the issue)
[code]

[2021-04-27 13:51] dimensi0n commented on #62
I get no errors, but the mail si not sent (I use mailtrap but it works when I send one throug an HTTP Controller).
And the offer title is correctly printed on my console.

[2021-04-27 13:55] dimensi0n commented on #62
I get no errors, but the mail si not sent (I use mailtrap but it works when I send one throug an HTTP Controller).
And the offer title is correctly printed on my console.

[2021-04-27 15:00] dimensi0n commented on #62
Someone helped me with this. I had to replace `sendLater` with `send` in order to make it work. 👍🏻

[2021-04-27 15:00] #62 closed

[2021-05-08 20:35] marciovsena opened #63 "Unexpected token '.' on SES"
I can't send email with SES Amazon

## Package version
[code]

## Node.js and npm version
- Node.js - v12.18.3
- Yarn - v1.22.5

## Sample Code (to reproduce the issue)
[code]

## Console Output
[code]

[2021-05-08 20:59] RomainLanz commented on #63
Hey @marciovsena! 👋

Please, update your `Node.js` version as required in the documentation.

[2021-05-08 20:59] #63 closed

[2021-05-28 07:59] hsharma1996 opened #64 "How to add functionality to send callender invite ?"
## Prerequisites

We do our best to reply to all the issues on time. If you will follow the given guidelines, the turn around time will be faster.

## Consider an RFC

Please create an [RFC](https://github.com/adonisjs/rfcs) instead, if

- Feature introduces a breaking change
- Demands lots of time and changes in the current code base.

*Delete the above section and the instructions in the section

[2021-05-28 08:00] thetutlage commented on #64
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-05-28 08:00] #64 closed

[2021-05-28 08:02] hsharma1996 commented on #64
@thetutlage , Sorry, by mistake submitted without explaining.
My question was :-

[2021-05-28 08:16] thetutlage commented on #64
Sure. Can you send a PR for the same?

[2021-05-31 12:10] moneychaudharywork opened #65 "Build is failing: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
## Prerequisites

The build process is throwing this error:
[code]

I think it is happening because we are importing the whole AWS SDK here:
https://github.com/adonisjs/mail/blob/3921b8359eae0b7e44fe7d6d3a682564f83ca79c/src/Drivers/Ses.ts#L12

I think it can be fixed by importing the neccsary code only.
For reference: https://github.com/aws/aws-sdk-js/issues/2683#issuecomment-826383666

## Package

[2021-05-31 12:10] #65 closed

[2021-05-31 12:11] moneychaudhary opened #66 "Build is failing: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
The build process is throwing this error:
[code]

I think it is happening because we are importing the whole AWS SDK here:
https://github.com/adonisjs/mail/blob/3921b8359eae0b7e44fe7d6d3a682564f83ca79c/src/Drivers/Ses.ts#L12

I think it can be fixed by importing the necessary code only.
For reference: https://github.com/aws/aws-sdk-js/issues/2683#issuecomment-826383666

## Package version
7.1.1

#

[2021-06-02 04:39] thetutlage commented on #66
Not sure how importing a package can eat all the memory?

[2021-06-02 09:28] thetutlage commented on #66
Closing since not actionable

[2021-06-02 09:28] #66 closed

[2021-06-29 21:25] cjpitch23 opened #68 "BCC and CC recipients with Mailgun driver not being sent mail."
I believe there is a bug with @adonisjs/mail package when it comes to sending `bcc` and/or `cc` recipients on a Mailgun driver. Since MIME only sends to the recipients in the `to` key, it doesn't send the email to those in the `cc` or `bcc` keys. I tried adding the recipients to both `to` and `bcc` and it sent the mail appropriately but the `bcc` recipients were not hidden. Looking into the code i

[2021-06-30 03:07] thetutlage commented on #68
Please open issues in the correct repo.

[2021-06-30 03:15] cjpitch23 commented on #68
I apologize. I didn't realize that I had made this mistake until after.

[2021-07-03 16:24] thetutlage commented on #68
Released as `@7.2.2`

[2021-07-03 16:24] #68 closed

[2021-08-10 18:21] lucasabrantes1 opened #69 "Email send"
Good evening guys, i'am trying to send an email by with an request, using insomnia with adonisJS and mailgun but when, i send  in my insomnia evertyhing works fine, with status 200, but in my terminal an error appears and the email is not sent the error

 code: 'MODULE_NOT_FOUND',
  requireStack: [
    'C:\\Users\\labrantes\\www\\prisma-backend\\node_modules\\@adonisjs\\mail\\build\\src\\Drivers\\

[2021-08-11 03:31] #69 closed

[2021-08-24 02:54] JonhnyDev commented on #39
I have the same problem and the forum is off.

[2021-10-16 16:46] AstaDK opened #71 "Edge: "LabeledStatement" is not supported"
I'm using edge to create template for sending email.
But I faced a error with `Edge`
My code example:
[code]
[code]
then I faced an error:

  reason: EdgeError: "LabeledStatement" is not supported

Have any suggestions for me. Thanks a lot

[2021-10-16 16:58] AstaDK commented on #71
@thetutlage Please help me!

[2021-10-16 17:02] RomainLanz commented on #71
You have an error in your template.

Closing since you are pinging people to have faster help.
Think about it.

[2021-10-16 17:02] #71 closed

[2021-10-17 07:40] thetutlage commented on #71
This should have been a discussion thread at first place. Also, as @RomainLanz stated, please try and avoid pinging people for no reasons.

You are simply referencing `cid` incorrectly. Here's a screenshot from the docs

<img width="764" alt="CleanShot 2021-10-17 at 13 09 24@2x" src="https://user-images.githubusercontent.com/1706381/137616940-dae8415c-8ea8-4bfe-a913-fd3a26b4aee5.png">

[2022-04-17 15:41] rmmlopes opened #79 "Custom headers not sent when using nodemailer"
## Package version
7.2.5

## Node.js and npm version
16.14.2
8.5.0

## Sample Code (to reproduce the issue)
Mail headers do not get sent out if this isn't done.
I'm sure there is a more elegant way of doing this, but this is what got me going

/*
 * @adonisjs/mail
 *
 * (c) Harminder Virk <virk@adonisjs.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that

[2022-04-18 04:49] thetutlage commented on #79
Please format your code properly. Also, the repo you have shared is the fork of the AdonisJS mail package. We need an example app that reproduces the issue.

[2022-06-13 15:02] atjab opened #80 "AdonisJS : Can't send email via @adonisjs/mail"
I use adonis js version 4.1.0 and @adonisjs/mail version ^3.0.10. I'm not sure why. But I'm sure my email and password are correct which previously email can be used normally. Please help me. Thank for your solution. I got this error when I send email `ExceptionHandler Invalid login: 535-5.7.8 Username and Password not accepted. Learn more at 535 5.7.8  https://support.google.com/mail/?p=BadCreden

[2022-07-27 14:53] Kuzzy commented on #54
The reason of such errors is a `got` package, for example here:

https://github.com/adonisjs/mail/blob/develop/src/Transports/Mailgun.ts#L125

There are a lot of issues with `got` in other packages, the main reason of error is a number of libraries that are possibly in dependency tree that are monkey patching `got` client. In my case it was obsolete `googleapis` package. It was a really tricky to

[2022-09-22 02:01] #80 closed